* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;
}
.menu-bar {
  width: 40vw;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  margin: 5vh;
}
.menu-bar li {
  list-style-type: none;
}
.menu-bar li a {
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  transition-duration: 100ms;
}
.menu-bar li a:hover {
  background-color: white;
  color: black;
}

#notfound {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notfound {
  width: 90%;
  height: 200px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.notfound-404 {
  position: absolute;
}
.notfound-404 h1 {
  font-size: 13rem;
  color: rgb(190, 187, 187);
  z-index: 1;
}

.notfound h2 {
  font-size: 3rem;
  z-index: 2;
}
.notfound p {
  font-size: 1rem;
  color: rgb(88, 88, 88);
  z-index: 2;
  text-align: center;
}
.notfound a {
  width: 150px;
  height: 40px;
  background-color: rgb(48, 111, 184);
  text-decoration: none;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  z-index: 2;
  cursor: pointer;
}
